* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  align-items: center;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5;
  margin-bottom: 5px;
  margin-left: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.account {
  margin-left: 30px;
  margin-bottom: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.SignIn {
  max-width: 500px;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.5);
  backdrop-filter: "blur(10px)";
}

.text-field {
  max-width: 400px;
  width: 100%;
  padding: 10px 5px;
  display: block;
  text-align: start;
}
input {
  padding: 10px 5px;
  margin-left: 30px;
  margin-top: 20px;
  text-align: start;
  border-radius: 8px;
  border-style: dotted;
  background-color: white;
  font-size: 16px;
  box-shadow: none;
}
.checkbox {
  margin-right: 10px;
}
.signin_btn {
  margin-left: 30px;
  margin-top: 20px;
  padding: 9px 5px;
  max-width: 400px;
  width: 100%;
  border: dotted;
  border-radius: 8px;
  color: rgb(76, 12, 77);
  font-size: 18px;
}
.signin_btn:hover {
  background-color: rgb(190, 144, 232);
  color: aliceblue;
}
a {
  text-decoration: none;
  color: rgb(53, 26, 79);
}
.checkbox input:checked ~ .check {
  background-color: rgb(163, 87, 235);
}
.Forgot {
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
